<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    {% load static %}

    <title>جديد</title>
    <meta name="description" content="جديد" />

    {% include 'utils/header_files.html' %}
  </head>
  <body class="app sidebar-mini rtl">
    {% include 'utils/navbar.html' %} {% include 'utils/sidebar.html' %}

    <main class="app-content">
      {% include 'utils/sub_header.html' %}
      <!-- content  -->

      <div class="col-md-12">
        <div class="tile">

          <div class="row">

            <div class="col-6">
              <h3 class="tile-title">جديد</h3>

          </div>
          
            <div class="col-6 text-left">
              <a href="/main-activity/">
              <button class="btn btn-primary" style="padding-left: 2px;">العودة &nbsp;
                <i class="fa fa-arrow-left"></i></button>
          </a>
          </div>
          
          </div>
          



          <div class="tile-body">
            <form method="POST">
              {% csrf_token %} 
      
              {{ form.as_p }}


<br/>
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-fw fa-lg fa-check-circle"></i>حفظ
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <!--end content  -->
    {% include 'utils/footer_files.html' %}




  </body>
</html>
